h6 {
    font-weight: 500;
}

.btn-create-shop {
    width: 200px;
}

.show-popup-icon {
    cursor: pointer;
}
  
.panel-shop {

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
}

.panel-shop-popup, .panel-edit-shop-popup, .panel-create-shop-popup, .panel-assign-users-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .panel-shop, .panel-edit-shop, .panel-create-shop, .panel-assign-users {
      max-width: 90%;
      width: 600px;
      overflow-y: auto;
      max-height: 80%;
      animation: zoomOut 0.1s ease-out;

        @keyframes zoomOut {
            0% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }  
    }
}

.popup-header {
    display: flex;
    justify-content: space-between;
}

.close-icon {
    cursor: pointer;
}

.selected-shops-list {
    display: flex;
    flex-direction: column;
}

.btn-unassign {
    padding: 0px;
}



