Table {
    border-radius: 5px;
    overflow: hidden;
}

.thead {
    padding: 10px;
}

.header-details {
    color: black;
}

.company-details {
    color: black;
}

.shop-details {
    color: white;
}